body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  /* overflow: hidden; */
}

input {
  color: var(--black);
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--main);
}

textarea {
  color: var(--black);
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--main);
}

input:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--main);
}

textarea {
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--main);
}

select {
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--main);
  padding-left: 10px;
}

textarea:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--main);
}

select:focus {
  outline-style: solid;
  outline-width: thin;
}
