.created-checklists {
  /* height: 92vh; */
  /* width: 100%; */
  padding: 30px;
}

.page-header {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: bold;
  color: #216176;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.checklist-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 30px; */
  width: 100%;
  /* height: 250px; */
}

.create-checklist-btn {
  padding: 5px 10px 5px 10px;
  background-color: #216176;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}

.header-bg {
  background-color: #216176;
  color: var(--white);
}

.clr-white {
  color: var(--white);
}

.cont-bg {
  background-color: #00cfa0;
}

.cont-bg-review {
  background-color: #008ec5;
}

.cont-bg-archive {
  background-color: #4a5b9c;
}
.cont-bg-draft {
  background-color: #a7b9b5;
}
