.created-checklists {
  /* height: 92vh; */
  width: 100%;
}

.page-header {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: bold;
  color: #216176;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.checklist-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 30px; */
  width: 100%;
}

.create-checklist-btn {
  padding: 5px 10px 5px 10px;
  background-color: #216176;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}
