.create-job {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 40%;
  /* height: 40%; */
  background-color: var(--white);
  border-style: solid;
  border-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  border-radius: 20px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  padding-top: 20px;
}

.close-flex {
  display: none !important;
}

.create-job-header {
  width: 100%;
}

.flex-row-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 0px 20px;
}

.new-job-icon {
  font-size: 28px;
  color: var(--dark);
  margin-right: 10px;
}

.new-job-head {
  text-align: center;
  font-size: 16px;
  color: var(--dark);
  font-family: "Poppins";
  font-weight: bold;
}

.new-job-input {
  width: 100%;
  margin: 30px 20px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.new-job-label {
  width: 50%;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  text-align: right;
  margin-right: 20px;
}

.new-job-ta {
  width: 100%;
  text-align: left;
}

.new-job-ta > select {
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
  color: var(--dark);
  border: solid;
  border-width: 1px;
  padding: 8px 5px 8px 5px;
  width: 65%;
  font-family: "Poppins";
  text-align: left;
  outline-color: var(--dark);
}

.btn-save {
  background-color: #00cc83;
  padding: 5px 15px 5px 15px;
  font-family: "Poppins";
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
  color: white;
}

.btn-cancel {
  background-color: #ff5f5f;
  padding: 5px 15px 5px 15px;
  font-family: "Poppins";
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
  color: white;
}

.task-assignment-container {
  display: flex;
  /* border-style: solid; */
  /* background-color: ; */
  border-color: var(--main);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.assign-table {
  display: flex;
  width: 95%;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--main);
  overflow-y: auto;
  height: 300px;
}

.table-row-head {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: var(--main); */
  border-radius: 20px;
  /* border-style: solid; */
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: bold;
  height: 25px;
  margin-top: 10px;
  color: #216176;
}

.table-row {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--main);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins";
  font-weight: bold;
  color: var(--white);
  font-size: 14px;
}

.assignee {
  height: 60px;
  width: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Poppins";
  color: var(--dark);
  font-size: 20px;
  /* width: 10%; */
}

.stg-name {
  width: 45%;
}

.tsk-name {
  width: 45%;
}

.assignee-name {
  width: 10%;
}

.assign-header {
  font-family: "Poppins";
  font-weight: bold;
  color: var(--dark);
  font-size: 18px;
  margin-bottom: 10px;
}

.assign-header > select {
  outline-color: var(--dark);
  margin-left: 0px;
  height: 35px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: var(--dark);
}

.set-btn {
  margin-left: 10px;
  height: 35px;
  font: "Poppins";
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--white);
  border-style: none;
}
