.checklist-detailed-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.cl-detail-section {
  margin: 20px 30px 0px 30px;
}

.full-width-control {
  width: 100%;
}

.beside-control {
  margin-right: 20px;
}

.name-control {
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
}

.name-control::placeholder {
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
}

.add-a-stage {
  display: flex;
  height: 35px;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
  border-color: #e9e7fd;
  margin: 20px 30px 0px 30px;
  justify-content: center;
  align-items: center;
  margin: 20px 30px 0px 30px;
  color: #372b47;
  font-family: "Poppins";
  font-weight: bold;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.draft-btn {
  margin-top: 20px;
  margin-right: 20px;
  padding: 15px 30px 15px 30px;
  background-color: #d9d9d9;
  font-family: "Poppins";
  font-weight: bold;
  color: #372b47;
  border-radius: 20px;
  cursor: pointer;
}

.review-btn {
  margin-top: 20px;
  margin-right: 20px;
  padding: 15px 30px 15px 30px;
  background-color: #48e399;
  font-family: "Poppins";
  font-weight: bold;
  color: #372b47;
  border-radius: 20px;
  cursor: pointer;
}

.reviewers {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 5px 5px 5px;
  background-color: #48e399;
  font-family: "Poppins";
  font-weight: bold;
  color: #372b47;
  border-radius: 20px;
  cursor: pointer;
}

.reviewers > select {
  margin-top: 5px;
  outline-style: solid;
  /* padding: 10px 30px 15px 30px; */
  /* height: 50px; */
  margin-right: 20px;
  pointer-events: painted;
}

/* .stg-area {
  overflow-y: auto;
  height: 480px;
} */

.red-alert {
  background-color: #e85151;
}

.rfc-window {
  position: fixed;
  top: 40%;
  left: 30%;
  width: 40%;
  /* height: 20%; */
  background-color: var(--white);
  border-style: solid;
  border-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  border-radius: 20px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  padding-top: 20px;
}
